form{
    display: inline-block;
    width: 100%;
}

form > .form-row{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

form > .form-row: :last-of-type{
    margin-top: 0px;
}

form > .form-row > label{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    margin-bottom: 5px;
    color: #777;
    text-transform: uppercase;
}

form > .form-row > input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}

form > .form-row > button{
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: #005dd8;
    background: linear-gradient(53deg, #214bd5 0%, #0065d9 100%);
    border: none;
}

form > .form-row > span{
    
}

form > .form-row > a{
    
}